@use '../constants/typography';
@use '../constants/colors';
@use '../mixins/responsive';

* {
  margin: 0;
  font-family: typography.$font-main;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: typography.$font-main;
  color: colors.$dark;
  font-size: 16px;
}

body {
  font-family: typography.$font-main;
  color: colors.$dark;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: typography.$font-heading;
  font-weight: 700;
}

.container h2 {
  font-size: 2.2em;
  font-weight: 700;
}

.container h3 {
  font-size: 1.7em;
}

.container h4 {
  font-size: 1.4em;
}

input,
select,
textarea,
button,
img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: -0.3px;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

button,
input,
select,
textarea {
  border: 0;
  background-color: transparent;

  /* 키보드로 버튼에 포커스 시 */
  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }

  /* 마우스, 터치로 버튼에 포커스 시 */
  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
  }
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

address {
  font-style: normal;
}

@include responsive.responsive(T) {
  html,
  body {
    font-size: 15px;
  }
}

@include responsive.responsive(M) {
  .container h2 {
    font-size: 2.1em;
  }

  .container h3 {
    font-size: 1.6em;
  }

  .container h4 {
    font-size: 1.3em;
  }
}

@include responsive.responsive(S) {
  html,
  body {
    font-size: 13px;
  }

  .container h2 {
    font-size: 1.8em;
  }

  .container h3 {
    font-size: 1.5em;
  }

  .container h4 {
    font-size: 1.2em;
  }
}
