@use '../constants/typography';
@use '../constants/colors';

* {
  margin: 0;
  font-family: typography.$font-main;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: typography.$font-main;
  color: colors.$dark;
  font-size: 16px;
}

body {
  font-family: typography.$font-main;
  color: colors.$dark;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: typography.$font-heading;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

button,
input,
select,
textarea {
  border: 0;
  background-color: transparent;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

address {
  font-style: normal;
}
