@use '../mixins/responsive';

.container {
  padding: 0;

  .row {
    max-width: 1440px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    width: 100%;
  }

  @include responsive.responsive(D) {
    padding: 0 40px;

    .row {
      width: 100%;
    }
  }
}
