@use '../mixins/flexbox';
@use '../mixins/position';
@use '../constants/colors';

.header-top {
  @include flexbox.flexbox(between, center);
  font-size: 15px;

  &-left {
    .agency-select {
      width: auto;
      height: 49px;
      line-height: 50px;
      border: 1px solid #c9cbcd;
      border-radius: 3px;
      background-color: colors.$white;
      position: relative;

      &::after {
        border-bottom: 2px solid #717171;
        border-right: 2px solid #717171;
        content: '';
        display: block;
        height: 5px;
        margin-top: -4px;
        pointer-events: none;
        position: absolute;
        right: 20px;
        top: 50%;
        transform-origin: 66% 66%;
        transform: rotate(45deg); //rotate(-135deg)
        transition: all 0.15s ease-in-out;
        width: 5px;
      }

      &:has(.agency-listbox.is-open) {
        &::after {
          transform: rotate(-135deg);
        }
      }
    }

    .agency-selected {
      display: block;
      width: 100%;
      padding-right: 126px;
      padding-left: 20px;
      cursor: pointer;
    }

    .agency-listbox {
      box-shadow: 0 0 0 1px rgba(101, 101, 101, 0.3);
      background-color: colors.$white;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      opacity: 0;
      scale: 0;
      transform-origin: 50% 0;
      transition: all 0.2s ease-in-out;
      display: block;

      &.is-open {
        scale: 1;
        opacity: 1;
      }

      li {
        padding-left: 20px;
        line-height: 40px;
        transition:
          background-color 200ms ease-in-out,
          outline 200ms ease-in-out;

        &.focus,
        &:active,
        &:hover {
          background-color: #f0f0f0;
          outline: 1px solid red;
          outline-offset: -1px;
        }
      }
    }
  }

  &-right {
    .util-group {
      @include flexbox.flexbox(start);

      li {
        padding-left: 20px;
        margin-left: 20px;
        position: relative;
        @include flexbox.flexbox;

        &:before {
          content: '';
          width: 1px;
          height: 12px;
          display: block;
          background-color: #c5c5c5;
          @include position.pos-center-y;
          left: 0;
        }

        &:first-child,
        &:last-child {
          &:before {
            display: none;
          }
        }
      }

      .font-size {
        button {
          width: 24px;
          height: 24px;
          background-color: #e5e5e5;
          border-radius: 6px;
          margin-right: 6px;

          i {
            @include flexbox.flexbox;
            width: 100%;
            height: 100%;
            line-height: 1;
            vertical-align: 1em;
          }
        }

        span {
          font-weight: 300;
        }
      }

      .print {
        button {
          @include flexbox.flexbox;

          font-weight: 300;

          img {
            margin-right: 4px;
          }
        }
      }

      .lang {
        img {
          opacity: 0.5;
          margin-right: 4px;
        }

        a {
          font-weight: 300;
        }

        &-kor {
          padding-right: 6px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 29px;
            height: 2px;
            left: -2%;
            bottom: -3px;
            background: #111;
          }
        }

        &-eng {
          color: colors.$light;
        }
      }

      .all-menu {
        background-color: colors.$blue;
        height: 49px;
        line-height: 49px;
        padding-right: 20px;
        color: colors.$white;

        i {
          margin-right: 8px;
        }

        a {
          font-weight: 500;
        }
      }
    }
  }
}
