@use '../mixins/flexbox';
@use '../constants/colors';
@use '../constants/typography';
@use '../mixins/responsive';
@use '../constants/dimensions';

.header-main-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .header-main {
    height: dimensions.$header-main-height-lg;
    @include flexbox.flexbox(between);

    .logo {
      @include flexbox.flexbox;

      a,
      img {
        display: block;
      }

      img {
        width: 100%;
        height: auto;
      }

      &-sub {
        margin-left: 20px;
      }
    }

    .gnb {
      height: 100%;

      .menus {
        @include flexbox.flexbox;
        height: 100%;

        .depth1 {
          margin-left: 90px;
          height: 100%;

          &.over,
          &:hover,
          &:active {
            .depth1-title {
              color: colors.$green-dark;
              font-weight: 700;
              position: relative;

              &::after {
                width: 100%;
              }
            }
          }

          &-title {
            @include flexbox.flexbox;
            height: 100%;
            font-family: typography.$font-heading;
            font-size: 1.37em;
            font-weight: 500;
            color: colors.$black;
            position: relative;

            &::after {
              content: '';
              display: block;
              position: absolute;
              width: 0%;
              height: 3px;
              background-color: colors.$green-dark;
              bottom: 0;
              left: 0;
              transition: width 0.2s ease-in-out;
            }
          }
        }
      }
    }

    .drawer-button {
      background: colors.$blue;
      width: 60px;
      height: 100%;
      border-radius: 10px 0 0 25px;
      display: none;

      button {
        width: 100%;
        height: 100%;

        i {
          color: white;
          font-size: 1.5em;
        }
      }
    }
  }
  @include responsive.responsive(T) {
    .container {
      .row {
        width: 100%;
      }
    }

    .header-main {
      height: dimensions.$header-main-height-md;

      .logo {
        margin-left: 3%;

        &-main {
          width: 190px;
        }

        &-sub {
          width: 90px;
        }
      }

      .drawer-button {
        display: block;
      }
    }
  }

  @media screen and (max-width: 580px) {
    .header-main .logo-sub {
      display: none !important;
    }
  }

  @media screen and (max-width: 1300px) {
    .header-main .gnb .menus .depth1 {
      margin-left: 66px;
    }
  }
}
