@use '../constants/colors';
@use '../constants/z-indexes';

#skip {
  position: relative;
  width: 100%;
  z-index: z-indexes.$skip-button-level;

  a {
    position: absolute;
    top: -40px;
    left: 0;
    width: auto;
    background-color: colors.$black;
    color: colors.$white;
    line-height: 38px;
    white-space: nowrap;
    padding: 0 10px;
    transform: translateY(-100%);
    transition: transform 0.3s ease;

    &:focus,
    &:active {
      top: 0;
      transform: translateY(0);
    }
  }
}
