$black: #000;
$dark: #1d1d1d;
$primary: #2d2d2d;
$secondary: #3a3a3a;
$tertiary: #555;
$default: #666;
$light: #717171;
$white: #fff;

$green: #1aa79e;
$green-dark: #008275;
$green-light: #f1faf8;

$blue: #16438b;
$blue-light: #f4f6fa;
